

<br><br>

<h4 id = "Event-title">Upcoming Events</h4>
<br>
<% @events.each do |event| %>
<div class="gallery cf">
  <div>
<br><br>
    <%= image_tag event.photo.url(:medium), class: "eventimage" %>
  </div>
  <center><br><br>
    <h4 id ="Event-words"><%= event.name %>
    <br><br><br><br><%= event.address %> 
    <br><br><br><br><%= event.date %></h4>
  
  <br><br><br><br><br><br><br><br>

  <!-- <div class="content"> -->
  <p><%#= link_to event.title, event_path(event), class: 'btn btn-info' %></p>
  </div>

</div>


<div class="BeerBeer-img"></div>











<br><br>

<% end %>
