// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loc{
	font-size: 20px;
	padding-top: 24px;
	padding-right: 24px;
	font:sans-serif;

}

.title{
	font-size: 25px;
	font:sans-serif;
	text-align: center;
}

.new{
	font-size: 20px;
	margin-top: 30px;
	font:sans-serif;
	margin-bottom: 30px;

}


.loc2{
	font-size: 20px;
	padding-top: 24px;
	padding-right: 24px;
	font:sans-serif;
	padding-left: 25px;
	padding-right: 25px;

}

.beer{
	text-align: center;
}

.location {
	background-color: #99c0db;
}